/* CONTENT */


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background: linear-gradient(to bottom, #04e4f8a8 , #d001df80), url("../../img/inicio/Archivo\ 14.png") center no-repeat;
    background-size: cover;
    border-radius: 0 0 120px 0;
    margin-bottom: 50px;
  }
  